<form #addGameForm="ngForm" class="form-layout" (click)="hideOtherControls()">
    <div class="top-label">Add Game</div>
    <div class="control-group">
        <div class="control-label">Game series</div>
        <div class="validation-alert" *ngIf="gameSeries.invalid && (gameSeries.dirty || gameSeries.touched)">
            Please select a valid Game Series.
        </div>
        <div class="control">
            <input (keyup)="onSearchType($event)" #gameSeriesSearchBox #gameSeries=ngModel [(ngModel)]="model.gameSeries" name="gameSeries" class="text-box" type="text" required />
            <div tabindex="0" #gameSeriesSearchClicker (click)="showDropDownGameSeries()" class="text-box">
                {{selectedGameSeries}}
            </div>
        </div>
        <div #gameSeriesDropDown class="drop-down-box">
            <div *ngFor="let series of gameSeriesList" (click)="setGameSeries($event)" class="drop-down-item">
                {{series}}
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">Game name</div>
        <div class="validation-alert" *ngIf="game.invalid && (game.dirty || game.touched)">
            Please enter a valid game name.
        </div>
        <div class="control">
            <input #gameNameBox #game=ngModel [(ngModel)]="model.gameName" name="gameName" class="text-box" type="text" required whiteSpaceValidator />
        </div>
    </div>
    <div class="control-bar">
        <input type="submit" class="submit-button"/>
        <input type="button" class="button" value="Clear"/>
    </div>
</form>
