<div class="data-section">
    <div class="section-50 sec-lef">
        <div class="image-con"></div>
    </div>
    <div class="section-50">
        <div class="title-row">Game name</div>
        <div class="norm-row">
            <div>Developer</div>
            <div class="val">dummy value</div>
        </div>
        <div class="norm-row">
            <div>Publisher</div>
            <div class="val">dummy value</div>
        </div>
        <div class="norm-row">
            <div>Release Year</div>
            <div class="val">dummy value</div>
        </div>
        <div class="norm-row">
            <div>Description</div>
            <div class="val">verryyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy long
                dummy value</div>
        </div>
        <div class="norm-row">
            <div>dummy category</div>
            <div class="val">very long dummy value in several pieces to understand how paragraphing is working.</div>
        </div>
    </div>
</div>