<div class="data-section">
  <div class="search-box-container">
    <div #searchOptions class="search-option-bar">
      <div *ngFor="let menu of searchMenu" (click)="setActive($event, menu)" class="search-option">
        {{menu}}
      </div>
    </div>
    <div *ngIf="activeOption!=='Advanced Search'" #searchDiv class="search-div">
      <input (keyup)="searchKey($event)" type="text" #searchBox class="search-box" placeholder="type to search..." />
    </div>
    <div *ngIf="activeOption==='Advanced Search'" #advSearchDiv class="adv-search-div" (click)="hideOtherControls()">
      <div class="adv-sec-div">
        <div class="title-row">
          <div *ngFor="let col of columnNameList" [ngClass]="{'adv-lbl-small': columnSpList.includes(col)}"
            class="adv-lbl">
            {{col}}
          </div>
        </div>
      </div>
      <div class="adv-sec-div" *ngFor="let row of rowList">
        <div class="adv-row">
          <div class="adv-lbl-small control-div">
            <div tabindex="0" class="option-drop-btn clicker" (click)="showDropDown($event)">
              <span>And</span><span>^</span>
            </div>
            <div class="drop-down-box">
              <div *ngFor="let logic of logicOpList" class="drop-down-item" (click)="setDropDownValue($event)">
                {{logic}}
              </div>
            </div>
          </div>
          <div class="adv-lbl-small">
            <input type="text" class="adv-search" />
          </div>
          <div class="adv-lbl control-div">
            <div tabindex="0" class="option-drop-btn clicker" (click)="showDropDown($event)">
              <span>{{entityList[0]}}</span><span>^</span>
            </div>
            <div class="drop-down-box">
              <div *ngFor="let entity of entityList" class="drop-down-item" (click)="setDropDownValue($event)">
                {{entity}}
              </div>
            </div>
          </div>
          <div class="adv-lbl control-div">
            <input type="text" class="adv-search" />
            <div tabindex="0" class="option-drop-btn clicker" (click)="loadProperties($event)">
              <span>Age</span><span>^</span>
            </div>
            <div class="drop-down-box">
              <div *ngFor="let prop of propertyList" class="drop-down-item" (click)="setDropDownValue($event)">
                {{prop}}
              </div>
            </div>
          </div>
          <div class="adv-lbl control-div">
            <div tabindex="0" class="option-drop-btn clicker" (click)="loadConditions($event)">
              <span>{{conditionMap.Integer[0]}}</span><span>^</span>
            </div>
            <div class="drop-down-box">
              <div *ngFor="let con of conditionList" class="drop-down-item" (click)="setDropDownValue($event)">
                {{con}}
              </div>
            </div>
          </div>
          <div class="adv-lbl">
            <input type="text" class="adv-search" />
          </div>
          <div class="adv-lbl-small">
            <input type="text" class="adv-search" />
          </div>
        </div>
      </div>
      <div class="adv-sec-div">
        <div class="adv-row">
          <div tabindex="0" class="adv-btn" (click)="modifyRows('+')">+</div>
          <div tabindex="0" *ngIf="rowList.length>1" class="adv-btn" (click)="modifyRows('-')">-</div>
          <div class="align-right">
            <input type="submit" class="submit-button" (click)="queryBuilder()" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="result-box">
    <div *ngFor="let res of searchResults" class="result-item">{{res.name}}</div>
  </div>
  <div class="suggestion-box" *ngIf="searchResults.length==0 && activeOption!=='Advanced Search'">
    <div class="result-item">Suggested Games</div>
    <div class="suggestion-row">
      <div *ngFor="let gamesug of gameSuggestion" class="suggestion-item"></div>
    </div>
    <div class="result-item">Suggested Character</div>
    <div class="suggestion-row">
      <div *ngFor="let gamesug of gameSuggestion" class="suggestion-item"></div>
    </div>
  </div>
</div>
