
<div class="data-section">
    <div class="search-box-container">
        <div class="search-option-bar">
            <div (click)="setActive($event)" #searchOption class="search-option">Any</div>
            <div>|</div>
            <div (click)="setActive($event)" #searchOption class="search-option">Game</div>
            <div>|</div>
            <div (click)="setActive($event)" #searchOption class="search-option">Character</div>
            <div>|</div>
            <div (click)="setActive($event)" #searchOption class="search-option">Tags</div>
        </div>
        <div class="search-div">
           <input (keyup)="searchKey($event)" type="text" #searchBox class="search-box" placeholder="type to search..."/> 
        </div>
    </div>
    <div class="result-box">
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="padding-item"></div>
    </div>
</div>
