<div class="data-section">
  <div class="search-box-container">
    <div #searchOptions class="search-option-bar">
      <div *ngFor="let menu of searchMenu" (click)="setActive($event, menu)" class="search-option">
        {{menu}}
      </div>
    </div>
    <div *ngIf="activeOption!=='Advanced Search'" #searchDiv class="search-div">
      <input (keyup)="searchKey($event)" type="text" #searchBox class="search-box" placeholder="type to search..." />
    </div>

    <app-advanced-search *ngIf="activeOption==='Advanced Search'" class="adv-search-div"></app-advanced-search>
  </div>
  <div class="result-box">
    <div *ngFor="let res of searchResults" class="result-item" [routerLink]="['../'+res.entityType+'/'+res.url]">
      {{res.name}}
    </div>
  </div>

  <app-suggested-content class="suggestion-box" *ngIf="searchResults.length==0 && activeOption!=='Advanced Search'">
  </app-suggested-content>
</div>