.search-box-container{
    display: flex;
   /* position: fixed; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    background-color:rgb(40, 40, 40);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-option-bar{
    display: flex;
    width: 80%;
}
.search-option-bar > div{
    margin-left: 0.4rem;
}
.search-option{
    transition: color 0.2s;
}
.search-option:hover{
    color: springgreen;
    cursor: pointer;
}
.search-option-active{
    color: springgreen;
}
.search-div{
    width: 80%;
    margin-top: 1rem;
}
.search-box{
    height: 2.4rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid springgreen;
    background-color: rgb(80, 80, 80);
    color: rgba(240,240,240);
    transition: background-color 0.2s;
    padding: 0.4rem;
    font-size: 1.1rem;
}
.search-box:focus{
    outline: none;
    border-width: 2px;
    background-color: rgb(20, 20, 20);
    box-shadow: 0.2rem 0.2rem 0.8rem 0.2rem rgba(0,0,0,0.5);
}
.result-box{
    display: none;
    position: absolute;
    z-index: -1;
    align-items: center;
    width: 100%;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.result-item{
    display: none;
    min-height: 4rem;
    width: 80%;
    background-color: springgreen;
}
.padding-item{
    min-height: 4rem;
    width: 80%;
}

.adv-search-div{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}
.adv-sec-div{
    width: 100%;
    border: 1px solid rgba(0, 255, 127,0.2);
}
.adv-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
    padding: 0.4rem;
}
.title-row{
    background-color: rgba(0, 255, 127,0.2);
}
.option-drop-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0.2rem 0.2rem 0.8rem 0.2rem rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-right: 0.4rem;
    min-height: 2rem;
    max-height: 2rem;
    width: 100%;
}
.adv-btn{
    display: flex;
    min-width: 1.6rem;
    max-width: 1.6rem;
    min-height: 1.6rem;
    max-height: 1.6rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 0.4rem;
    border-radius: 1.2rem;
    border: 2px solid white;
    cursor: pointer;
}
.adv-search{
    width: 100%;
    min-height: 2rem;
    max-height: 2rem;
    box-sizing: border-box;
    margin-right: 0.4rem;
}
.adv-lbl, .adv-lbl-btn{
    display: flex;
    min-height: 2rem;
    max-height: 2rem;
    width: 23%;
    align-items: center;
}
.adv-lbl-btn{
    width: 8%;
}